@using BookCommerce1.Model
@model Kategoria
<form method="post">
    <div class="border p-3">
        <div class="row">
            <h2 class="text-primary">Shtimi i kategoriesë</h2>
        </div>
        <div class="mb-2" >
            <label asp-for="Emri"></label>
            <input asp-for="Emri" class="form-control" />
            <span asp-validation-for="Emri" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="Renditja"></label>
            <input asp-for="Renditja" class="form-control" />
            <span asp-validation-for="Renditja" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Shto</button>
        <a asp-controller="Kategori" asp-action="Listo" class="btn btn-secondary">Kthehu</a>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
   
}
